@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Imagenes en columnas</h4>

<div class="row gy-3">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://media.elmostrador.cl/2018/06/imgen-de-chile.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://media.elmostrador.cl/2018/06/imgen-de-chile.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://media.elmostrador.cl/2018/06/imgen-de-chile.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://media.elmostrador.cl/2018/06/imgen-de-chile.jpg" />
    </div>
</div>

<h4>Ejemplo 1: Imagenes tipo thumbails</h4>

<img
    class="img-thumbnail rounded-circle"
    src="https://deadline.com/wp-content/uploads/2022/12/henry-cavill-the-witcher.jpg?w=1000" />